<button type="button"
        ng-disabled="currentPage === 1"
        ng-click="setCurrentPage(1)"
        class="btn btn-primary"
        title="First page">
  <span class="glyphicon glyphicon-fast-backward"></span>
</button>
<button type="button"
        ng-disabled="currentPage - 10 < 1"
        ng-click="setCurrentPage(currentPage - 10)"
        class="btn btn-primary"
        title="-10 pages">
  <span class="glyphicon glyphicon-backward"></span>
</button>
<button type="button"
        ng-disabled="currentPage - 1 < 1"
        ng-click="setCurrentPage(currentPage - 1)"
        class="btn btn-primary"
        title="Previous page">
  <span class="glyphicon glyphicon-step-backward"></span>
</button>
<span class="label label-info big-label page-number">Page {{currentPage}} of {{numOfPages()}}</span>
<button type="button"
        ng-disabled="currentPage + 1 > numOfPages()"
        ng-click="setCurrentPage(currentPage + 1)"
        class="btn btn-primary"
        title="Next page">
  <span class="glyphicon glyphicon-step-forward"></span>
</button>
<button type="button"
        ng-disabled="currentPage + 10 > numOfPages()"
        ng-click="setCurrentPage(currentPage + 10)"
        class="btn btn-primary"
        title="+10 pages">
  <span class="glyphicon glyphicon-forward"></span>
</button>
<button type="button"
        ng-disabled="currentPage === numOfPages()"
        ng-click="setCurrentPage(numOfPages())"
        class="btn btn-primary"
        title="Last page">
  <span class="glyphicon glyphicon-fast-forward"></span>
</button>
