<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="css/bootstrap-3.0.1.min.css" rel="stylesheet">
    <link href="css/ui.css" rel="stylesheet">
    <title>Google Plus Follower Stats</title>
  </head>
  <body ng-app="gpfsApp">
    <div ng-controller="gpfsCtrl" class="container" id="container">
      <div class="row">
        <div class="col-md-5">
          <h4>
            <a href="http://www.ingtotaro.it/projects/gpfs-firefox/" target="_blank">
              <img src="img/gpfs.png">
              Google Plus Follower Stats for Firefox
            </a> by
          </h4>
          <h4>
            <!--
              Google+ Badges don't work with resource:// protocol.

              To overcome this limitation, a static external page
              served over http:// protocol by the gpfs-firefox official website
              (currently hosted on GitHub Pages) at URL
              http://www.ingtotaro.it/projects/gpfs-firefox/badge.html
              is rendered inside an iframe to show author's and followers' badges.
              No user data is stored on the server.

              The source code of the external page is as follows:

              <!doctype html>
              <html>
                <body>
                  <div style="position: absolute; top: 57px; z-index: -1;
                              font-family: sans-serif; font-size: 14px; color: silver;">
                    Loading Google+ badge...
                  </div>
                  <div class="g-person" id="badge-person" data-layout="landscape" data-width="400"></div>
                  <div class="g-page" id="badge-page" data-layout="landscape" data-width="400"></div>
                  <script type="text/javascript" src="http://apis.google.com/js/plusone.js">
                    {parsetags: 'explicit'}
                  </script>
                  <script type="text/javascript">
                    var profileID = "http://plus.google.com/" + window.location.hash.slice(1);
                    document.getElementById('badge-person').dataset.href = profileID;
                    document.getElementById('badge-page').dataset.href = profileID;
                    gapi.person.go();
                    gapi.page.go();
                  </script>
                </body>
              </html>

            -->
            <iframe class="google-plus-badge" id="author-badge"
                    src="http://www.ingtotaro.it/projects/gpfs-firefox/badge.html#113250814961864918365">
            </iframe>
          </h4>
          <h4>
            Please
            <a href="https://addons.mozilla.org/en-US/firefox/addon/google-plus-follower-stats/reviews/add"
               target="_blank">rate/review <span class="glyphicon glyphicon-thumbs-up"></span> my add-on</a>
            and spread the word! :-)
          </h4>
        </div>
        <div class="col-md-3" id="circlecount-thanks">
          <p>Some data provided by</p>
          <p>
            <a href="http://www.circlecount.com"
               target="_blank"><img src="img/circlecount2.png"></a>
          </p>
          <p>
            Special thanks to
            <a href="https://plus.google.com/110727247761670372170"
               target="_blank">Chris Macidis</a>.
          </p>
        </div>
        <div class="col-md-4" id="asaclock-sponsor">
          <p>
            Sponsored by
            <a href="http://www.asaclock.com/?utm_source=gpfsfirefox&amp;utm_medium=addon&amp;utm_campaign=cs2013"
               target="_blank"><img src="img/asaclock.png"></a>
          </p>
          <p>
            An elite anti-procrastination community for startup single founders
            and people working on side projects.
          </p>
        </div>
      </div>
      <div class="alert alert-success">
        <span class="glyphicon glyphicon-hand-right"></span> {{statusMessage}}
      </div>
      <div ng-show="status === 'Google'">
        <p>
          <button type="button"
                  ng-click="togglePauseResume()"
                  class="btn btn-primary"
                  title="{{processing && 'Pause' || 'Resume'}}">
            <span class="glyphicon"
                  ng-class="processing && 'glyphicon-pause' || 'glyphicon-play'"></span>
          </button>
          Processing follower <strong>#{{sortedProfiles.length + 1}}</strong>
          of {{totalProfiles}} (Google+ gives only a subset of your followers)...
          <span ng-show="processing && timeZero && timeLatest"
                class="label label-info big-label">Remaining time: {{remainingTime()}}</span>
          <span ng-show="!processing" class="label label-warning big-label">PAUSED</span>
        </p>
        <p>
          <button type="button"
                  ng-click="speedDown()"
                  ng-disabled="maxParsers === 1"
                  class="btn btn-primary"
                  title="Speed down processing">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
          Processing speed (1÷32x):
          <span class="label label-info big-label">{{maxParsers}}x</span>
          <button type="button"
                  ng-click="speedUp()"
                  ng-disabled="maxParsers === 32"
                  class="btn btn-primary"
                  title="Speed up processing">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          <span class="alert alert-warning" id="google-alert">
            High speed values could lead to Google temporarily blocking your IP from using their services. I warned you!
          </span>
        </p>
      </div>
      <p ng-hide="status === 'Completed'"><small>
        If the progress gets stuck click
        <a href="https://plus.google.com" target="_blank">here</a>
        to log in to Google+ or to solve the captcha.
      </small></p>
      <div ng-show="sortedProfiles.length > 0">
        <div class="row">
          <div class="col-md-8">
            <div ng-include src="'paging.html'"></div>
            <table class="table table-striped table-condensed" id="table">
              <colgroup>
                <col id="table-rank-col">
                <col id="table-followers-col">
                <col>
                <col id="table-badge-col">
              </colgroup>
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Followers</th>
                  <th>Name</th>
                  <th>Badge (loading could be slow)
                    <button type="button" ng-click="toggleBadges()"
                            class="btn btn-primary" id="toggle-badges"
                            title="{{showBadges && 'Do not load badges' || 'Load badges'}}">
                      <span class="glyphicon"
                            ng-class="showBadges && 'glyphicon-eye-close' || 'glyphicon-eye-open'"></span>
                    </button>
                  </th>
                </tr>
              </thead>
              <tbody id="followers">
                <tr id="follower_{{profile.id}}"
                    ng-repeat="profile in sortedProfiles.slice((currentPage-1)*profilesPerPage, currentPage*profilesPerPage)">
                  <td>#{{(currentPage-1)*profilesPerPage+$index+1}}</td>
                  <td>{{profile.followers === -1 && '0 or n/a' || (profile.followers | number:0)}}</td>
                  <td>
                    <a href="https://plus.google.com/{{profile.id}}"
                       target="_blank">{{profile.name}}</a><br>
                    <a href="https://plus.google.com/{{profile.id}}"
                       target="_blank"><img src="img/googleplus.png"></a>
                    <a href="http://www.circlecount.com/p/{{profile.id}}"
                       target="_blank"
                       ng-show="profile.source === 'C'"><img src="img/circlecount.png"></a>
                  </td>
                  <td>
                    <iframe class="google-plus-badge" ng-src="{{profile.badge}}"
                            ng-show="showBadges"></iframe>
                  </td>
                </tr>
              </tbody>
            </table>
            <div ng-include src="'paging.html'"></div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4>Follower Breakdown</h4>
              </div>
              <div class="panel-body">
                <table class="table table-striped table-condensed" id="stats">
                  <thead>
                    <tr>
                      <th># of your followers</th>
                      <th>(in %)</th>
                      <th>who have [...] followers</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="threshold in breakdownThresholds">
                      <td>{{breakdown[$index]}}</td>
                      <td>{{breakdownPerc($index)}}</td>
                      <td>{{breakdownLabels[$index]}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="alert alert-info">
        Please note that this add-on could stop working at any time because of
        Google+ updates. Should it happen, I'll try to publish a new version
        as soon as possible! :)
      </div>
      <p><small>
        This add-on is not affiliated with, sponsored by, or endorsed by Google.
        <a href="https://github.com/vannitotaro/gpfs-firefox" target="_blank">Source code</a> on GitHub.
        License: <a href="http://www.opensource.org/licenses/MIT" target="_blank">MIT</a>.
        Copyright 2013 <a href="http://www.ingtotaro.it" target="_blank">Giovanni Totaro</a>.
        Version <span class="label label-info big-label">{{version}}</span>
      </small></p>
    </div>
  </body>
</html>
