<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="css/bootstrap-2.3.1.min.css" rel="stylesheet">
    <link href="css/ui.css" rel="stylesheet">
    <title>Google Plus Follower Stats</title>
  </head>
  <body ng-app="gpfsApp">
    <div ng-controller="gpfsCtrl" class="container" id="container">
      <h3>
        <img src="img/gpfs.png"> {{nameAndVersion}}
      </h3>
      <h4>Author:</h4>
      <div class="g-person" data-width="350"
           data-href="https://plus.google.com/113250814961864918365"
           data-layout="landscape" data-rel="author">
      </div>
      <ul class="unstyled">
        <li ng-show="loginProblem">
          <i class="icon-warning-sign"></i>
          Please check if you are logged in Google+ and re-run!
        </li>
        <li ng-show="sortedProfiles.length < totalProfiles">
          <i class="icon-hand-right"></i>
          Processing follower #{{sortedProfiles.length + 1}}
          of {{totalProfiles}}<span ng-show="totalProfiles > 9900"> most relevant ones</span>...
          <span ng-show="sortedProfiles.length > 0">
            (Remaining time: {{remainingTime()}} minutes)
          </span>
        </li>
      </ul>
      <div ng-show="sortedProfiles.length > 0">
        <p>Your followers with</p>
        <ul>
          <li ng-repeat="threshold in breakdownThresholds">
            <strong>{{breakdownLabels[$index]}}</strong> followers:
            {{breakdown[$index]}} (<strong>{{breakdownPerc($index)}}</strong>)
          </li>
        </ul>
        <div ng-include src="'paging.html'"></div>
        <table class="table table-striped table-condensed">
          <colgroup>
            <col class="table-rank-col">
            <col class="table-followers-col">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>Rank</th>
              <th>Followers</th>
              <th>Photo, Name and Circles</th>
            </tr>
          </thead>
          <tbody id="followers">
            <tr id="follower_{{profile.id}}" ng-repeat="profile in sortedProfiles.slice((currentPage-1)*pageSize, currentPage*pageSize)">
              <td>#{{(currentPage-1)*pageSize+$index+1}}</td>
              <td>{{profile.followers === -1 && 'n/a' || (profile.followers | number:0)}}</td>
              <td>
                <div class="g-person" data-width="450"
                     data-href="https://plus.google.com/{{profile.id}}"
                     data-layout="landscape">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div ng-include src="'paging.html'"></div>
      </div>
    </div>
    <script src="https://apis.google.com/js/plusone.js">
      {parsetags: 'explicit'}
    </script>
  </body>
</html>
