<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="css/bootstrap-2.3.2.min.css" rel="stylesheet">
    <link href="css/ui.css" rel="stylesheet">
    <title>Google Plus Follower Stats</title>
  </head>
  <body ng-app="gpfsApp">
    <div ng-controller="gpfsCtrl" class="container" id="container">
      <h4>
        <a href="http://www.ingtotaro.it/projects/gpfs-firefox/" target="_blank">
          <img src="img/gpfs.png">
          {{nameAndVersion}}
        </a>
        by
        <a href="https://plus.google.com/113250814961864918365" target="_blank">
          <img src="https://plus.google.com/s2/photos/profile/113250814961864918365?sz=90">
          Giovanni (aka Vanni) Totaro
        </a>
      </h4>
      <p ng-show="loginProblem">
        <i class="icon-warning-sign"></i>
        Please check if you are logged in Google+ and re-run!
      </p>
      <p ng-show="!loginProblem && totalProfiles == 0">
        <i class="icon-hand-right"></i>
        Loading list of your followers...
      </p>
      <div ng-show="sortedProfiles.length < totalProfiles">
        <p>
          <i class="icon-hand-right"></i>
          Processing follower <strong>#{{sortedProfiles.length + 1}}</strong>
          of {{totalProfiles}} (Google+ gives only a subset of your followers)...
          <span ng-show="sortedProfiles.length > 0">
            [Remaining time: <strong>{{remainingTime()}} minutes</strong>]
          </span>
        </p>
        <p><small>
          If the counter gets stuck click
          <a href="https://plus.google.com" target="_blank">here</a>
          to solve the captcha or to log again in Google+.
        </small></p>
      </div>
      <div ng-show="sortedProfiles.length > 0">
        <p>Your followers with</p>
        <ul>
          <li ng-repeat="threshold in breakdownThresholds">
            <strong>{{breakdownLabels[$index]}}</strong> followers:
            {{breakdown[$index]}} (<strong>{{breakdownPerc($index)}}</strong>)
          </li>
        </ul>
        <div ng-include src="'paging.html'"></div>
        <table class="table table-striped table-condensed">
          <colgroup>
            <col id="table-rank-col">
            <col id="table-followers-col">
            <col id="table-photo-col">
            <col id="table-name-col">
            <col id="table-circles-col">
          </colgroup>
          <thead>
            <tr>
              <th>Rank</th>
              <th>Followers</th>
              <th>Photo</th>
              <th>Name</th>
              <th>Circles</th>
            </tr>
          </thead>
          <tbody id="followers">
            <tr id="follower_{{profile.id}}" ng-repeat="profile in sortedProfiles.slice((currentPage-1)*profilesPerPage, currentPage*profilesPerPage)">
              <td>#{{(currentPage-1)*profilesPerPage+$index+1}}</td>
              <td>{{profile.followers === -1 && '0 or n/a' || (profile.followers | number:0)}}</td>
              <td><a href="https://plus.google.com/{{profile.id}}/about" target="_blank"><img
                src="https://plus.google.com/s2/photos/profile/{{profile.id}}?sz=90"></a></td>
              <td><a href="https://plus.google.com/{{profile.id}}/posts" target="_blank">{{profile.name}}</td>
              <td>
                <a href="https://plus.google.com/app/basic/{{profile.id}}/add"
                   target="_blank"><span
                  class="label"
                  ng-class="{'label-success': profile.circles >= 1}"
                  ng-pluralize
                    count="profile.circles"
                    when="{'0': 'Not in your circles',
                           '1': 'In 1 circle',
                           'other': 'In {} circles'}">
                </span></a>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div ng-include src="'paging.html'"></div>
      </div>
      <hr>
      <p><small>This add-on is not affiliated with, sponsored by, or endorsed by Google.</small></p>
    </div>
  </body>
</html>
