#circlecount-thanks {
  margin-top: 67px;
}

#asaclock-sponsor {
  margin-top: 43px;
}

#google-alert {
  display: inline-block;
  margin-bottom: 0;
}

#toggle-badges {
  vertical-align: bottom;
}

#page-number {
  margin: 10px;
}

#stats th, #stats td {
  text-align: right;
}

#table th:nth-of-type(2), #table td:nth-of-type(2) {
  text-align: right;
}

#table td {
  vertical-align: middle;
}

#table-rank-col, #table-followers-col {
  width: 70px;
}

#table-badge-col {
  width: 440px;
}

#author-badge {
  vertical-align: middle;
}

.google-plus-badge {
  display: inline-block;
  vertical-align: top;
  border: 0;
  width: 430px;
  height: 130px;
  transition: background-color 0.5s, height 0.5s;
}

.google-plus-badge:hover {
  background-color: rgb(100, 100, 100);
  height: 260px;
}

.big-label {
  font-size: 100%;
}
