#google-alert {
  display: inline-block;
  margin-bottom: 0;
}

#table th:nth-of-type(2), #table td:nth-of-type(2) {
  text-align: right;
}

#table td {
  vertical-align: middle;
}

#table-rank-col, #table-followers-col, #table-photo-col {
  width: 70px;
}

