#author-and-gpfs-badges {
  display: inline-block;
  vertical-align: top;
  border: 0;
  width: 370px;
  height: 230px;
}

#circlecount-thanks {
  margin-top: 67px;
}

#asaclock-sponsor {
  margin-top: 43px;
}

#google-alert {
  display: inline-block;
  margin-bottom: 0;
}

#toggle-badges {
  vertical-align: bottom;
}

#page-number {
  margin: 10px;
}

#stats th, #stats td {
  text-align: right;
}

#table th:nth-of-type(2), #table td:nth-of-type(2) {
  text-align: right;
}

#table .first-row-first-td {
  height: 1px;
  padding: 0;
}

#badges-td {
  padding: 0;
}

#table td {
  vertical-align: middle;
  border: none;
}

#table-rank-col, #table-followers-col {
  width: 70px;
}

#table-badge-col {
  width: 370px;
}

#google-plus-badges {
  display: inline-block;
  vertical-align: top;
  border: 0;
  width: 370px;
}

.big-label {
  font-size: 100%;
}
